# Dependencies
node_modules/

# Environment variables & secrets
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime / Build outputs
dist/
build/

# Operating System files
.DS_Store
Thumbs.db

bruno